<section class="panel" >


	<div class="panel-bar">
		<header class="panel-header">
			<h1 class="panel-header-title">Contact & Location</h1>
		</header>
		<div class="panel-header-copy">
			<p>
				Email: <a href="mailto:info@alulubrew.com">info@alulubrew.com</a> for general inquiries
			</p>
			2011 S. Laflin St. Chicago, IL 60608<br>
			Phone: (312) 600-9865
		</div>

		{{> components/alulu-address}}
        
	</div>
	
	
	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-contact.jpg') "></div>
	

</section>