<section class="panel" >


	<div class="panel-bar">
		<header class="panel-header">
			<h1 class="panel-header-title">Contact & Location</h1>
		</header>
		<div class="panel-header-subtitle">
			<p>
				Email: info@alulubrew.com for general inquiries
			</p>
			2011 S. Laflin St. Chicago, IL 60608<br>
			Phone: (312) 600-9865
		</div>

		<button class="panel-cta btn-call-to-action js-modal-open">CTA 1 Learn More</button>


		{{> components/alulu-address}}
        
	</div>
	
	
	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-contact.jpg') "></div>
	

</section>