<section class="panel" >
	<div class="panel-bar">
		<header class="panel-header">
			<h1 class="panel-header-title">Welcome to Alulu Brewpub</h1>
		</header>
		<div class="panel-header-copy"><p>All of our exclusive small batch <a href="#beer">craft beer</a> is made in-house in our second floor brewery and only available at our brewpub. With a  <a href="#food">chef-driven menu</a> in the heart of Pilsen, Chicago, ALULU invites you to come taste and experience what's next.</p></div>

		{{> components/alulu-address}}
        
	</div>

	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-home.jpg') "></div>
</section>
