<section class="panel" >
	<!-- https://b922bde52f23a8481830-83cb7d8d544f653b52d1a1621f05ea9d.ssl.cf3.rackcdn.com/images/_1920x1296_crop_center-center/Quinta-da-Regaleira-Desktop-4.jpg -->
	
	<div class="panel-bar">

		<header class="panel-header">
			<h1 class="panel-header-title">EVENTS AT ALULU</h1>
		</header>
		
		<div class="panel-header-copy">
			Coming soon! Have an idea for an event? Reach out.<br>
			Email: <a href="#mailto:info@alulubrew.com">info@alulubrew.com</a>
		</div>


		{{> components/alulu-address}}
        
	</div>
	
	
	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-events.jpg') "></div>
	

</section>