<section class="panel" >

	<div class="panel-bar">
		<header class="panel-header">
			<h1 class="panel-header-title">Private Events at Alulu</h1>
		</header>

		<div class="panel-header-copy">
			Inquire about how we can help you host your next private event.<br>
			Email: <a href="#mailto:info@alulubrew.com">info@alulubrew.com</a>
		</div>

		{{> components/alulu-address}}
        
	</div>
	
	
	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-special-events.jpg') "></div>
	

</section>