<section class="panel" id="cocktails">

	<div class="panel-bar">
		<header class="panel-header">
			<h1 class="panel-header-title">Alulu Craft Cocktails</h1>
		</header>
		<h2 class="panel-header-subtitle">Intro Copy</h2>

		<button class="panel-cta btn-call-to-action js-modal-open">CTA 1 Learn More</button>


		{{> components/alulu-address}}
        
	</div>
	
	
	<div class="panel-bg js-panel-bg" style="background-image: url('https://b922bde52f23a8481830-83cb7d8d544f653b52d1a1621f05ea9d.ssl.cf3.rackcdn.com/images/_1920x1296_crop_center-center/Glittering-Glow-Worms-Desktop.jpg') "></div>
	

</section>