<section class="panel" >
	<div class="panel-bar">
		<header class="panel-header">
			<h1 class="panel-header-title">Welcome to Alulu Brewpub</h1>
		</header>
		<h2 class="panel-header-subtitle">Introducing new beers regularly, the Alulu brewers are working hard to tell intriguing      stories and break new ground in Chicago’s craft scene as well as deliver unique versions of your favorite styles.</h2>

		<button class="panel-cta btn-call-to-action js-modal-open"> View craft beers</button>

		{{> components/alulu-address}}
        
	</div>
	
	
	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-home.jpg') "></div>
	
</section>
