

<section class="panel">

	<div class="panel-bar">
		<header class="panel-header">
			<h1 class="panel-header-title">PREMIER CRAFT COCKTAILS</h1>
		</header>
		<div class="panel-header-copy"><p>In addition to the small batch craft beers and chef-driven menu, Alulu also employs the best in local craft spirits to make unique seasonal craft cocktails and beertails on par with the best in Chicago.</p></div>

		<button class="panel-cta btn-call-to-action js-modal-open">VIEW SOME SPECIALTY COCKTAILS & BEERTAILS</button>


		{{> components/alulu-address}}
        
	</div>
	
	{{> modules/modal-overlay modal-overlay}}
	
	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-cocktails.jpg') "></div>
	

</section>