<section class="panel" >

	<div class="panel-bar">

		<header class="panel-header">
			<h1 class="panel-header-title">ECLECTIC MENU BY CHEF JEFF HEDIN</h1>
		</header>

		<h2 class="panel-header-subtitle">Alulu makes everything from scratch and sources locally for ingredients. Pulling from his interest in Eastern European cuisine and an eclectic mix of global dishes, Chef Jeff Hedin has created a seasonal menu to please everyone.</h2>

		<button class="panel-cta btn-call-to-action js-modal-open">CTA 1 Learn More</button>

		{{> components/alulu-address}}
        
	</div>

	{{> modules/modal-overlay modal-overlay}}
	
	<div class="panel-bg js-panel-bg" style="background-image: url('./public/images/panel-food.jpg') "></div>

</section>