<section class="fullpage-section" id="welcome">

			<img class="hero-bg js-bg" src="https://b922bde52f23a8481830-83cb7d8d544f653b52d1a1621f05ea9d.ssl.cf3.rackcdn.com/images/_1920x1296_crop_center-center/Filippijnen-Sambawan-Desktop.jpg">

			<div class="panel-content">
        		<div class="panel-header">
          			<p>intro-copy</p>
          			<h1>fullPage.js</h1>  
          			<p>intro-copy</p>
        		</div>
        		<div class="panel-address">
          			<address>
	            	2011 S. LAFLIN ST CHICAGO IL 60608<br>
	            
	            	SOFT OPEN: THURS-SUN 4PM - CLOSE<br>

	            	(312) 600-9865
	            	</address>
        		</div>
      		</div>

		</section>