/*========================================
=            Layout Variables            =
========================================*/

$site-padding: px-to-em($site-padding);
$max-width: px-to-em($site-max-width) + ($site-padding * 2);


$site-padding-mobile: px-to-em($site-padding-mobile-px);

//conversion to ems
$section-spacing: px-to-em($section-spacing-px);
$section-spacing-small: px-to-em($section-spacing-small-px);
$section-spacing-large: px-to-em($section-spacing-large-px);

$element-spacing-small: px-to-em($element-spacing-small-px);

$section-spacing-large-mobile: px-to-em($section-spacing-large-mobile-px);

$border-base: $base-border-width solid $color-brand-white;

* {
    @include borderBox;

    &:before,
    &:after{
        @include borderBox;
    }
}

body {
    background-color: $color-brand-black;
    opacity: 0;
    color: $color-brand-white;
    transition: opacity .5s ease-in;

    &.dom-loaded {
        opacity: 1;
    }
}

figure {
	margin: 0;
}

main {
    display: block;
}

a {
	color: inherit;
    text-decoration: none;

    @include transition(color);

    &:focus {
        outline: none;
    }
}


ul, ol {
	margin: 0;
	padding: 0;
	list-style-type: none;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
    margin:0 0  px-to-em($element-spacing-px);

    &:last-child {
        margin-bottom: 0;
    }
}

address {
    font-style: normal;
}

// em {
//     //@include font-univers-condensed-oblique();
// }

// strong,
// b {
//     font-weight: normal;

//     //@include font-univers-condensed-bold();
// }


@include screen($bp-mobile-landscape) {
    .hide-mobile-landscape {
        display: none;
    }
}