///////////////////////////////////////////////////////////////////////////////
//  Fonts
///////////////////////////////////////////////////////////////////////////////
//
//   Fonts: Univers
//   Catamaran
///////////////////////////////////////////////////////////////////////////////

$font-family-primary:  'Catamaran';


//copy
$font-size-h1: 56px;
$font-size-h2: 52px;
$font-size-h3: 32px;
$font-size-h4: 24px;
$font-size-h5: 20px;

//copy-mobile
$font-size-h1-mobile: 40px;
$font-size-h2-mobile: 36px;
$font-size-h3-mobile: 24px;
$font-size-h4-mobile: 18px;
$font-size-h5-mobile: 16px;


//module font sizes
$font-size-heading: 52px;
$font-size-heading-mobile: 36px;

$font-size-subheading: 20px;
$font-size-subheading-mobile: 16px;

$font-size-buttons: 14px;
$font-size-buttons-mobile: 12px;

$font-nav-size: 60px;
$font-nav-size-mobile: 36px;

$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold-extra:800;




@mixin font-size-buttons () {
    font-size: px-to-em($font-size-buttons);
    line-height: 1.1;
    font-weight: $font-weight-bold-extra;

    @include screen($bp-mobile) {

    }
}


@mixin font-heading() {
    font-size: $font-size-heading;
    line-height: 1;
    
    @include screen($bp-mobile) {
        font-size: $font-size-heading-mobile
    }    
}

@mixin font-subheading() {
    font-size: $font-size-subheading;
    line-height: 1.1;
    
    @include screen($bp-mobile) {
        font-size: $font-size-subheading-mobile;

    }    
}

body {
    font-size: 100%;
    font:$font-weight-medium 100% $font-family-primary, Arial, sans-serif;
    line-height: 1.2;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: $color-text-copy;
}

h1,h2,h3,h4,h5,h6 {
    font-style: normal;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
}

h1 {
    font-size: px-to-em($font-size-h1);
    line-height: 1.1;
}

h2 {
    font-size: px-to-em($font-size-h2);
    line-height: 1.1;
}

h3 {
    font-size: px-to-em($font-size-h3); 
}

h4 {
    font-size: px-to-em($font-size-h4); 
}

h5 {
    font-size: px-to-em($font-size-h5); 
}