$brew-logo-width: 50px;
.brew {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: $zindex-brew;
    overflow: hidden;
    padding:  0 40%  $site-padding *1.5 $site-padding *1.5;
    opacity: 0;
    visibility: hidden;
    transition: opacity  $transition-overlay-timing/2 $transition-ease,
                visibility  $transition-timing $transition-ease $transition-overlay-timing/2;
    display: table;


    .show-brew-overlay  &{
        opacity: 1;
        visibility: visible;
        transition: opacity $transition-overlay-timing/2 $transition-ease $transition-overlay-timing/2;
    }
}

.brew-body {
    max-width: px-to-em(650px);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    opacity: 0;
    padding-top: px-to-em($site-header-height + 100px);
    transition: opacity $transition-timing $transition-ease,
                padding-top $transition-timing $transition-ease;

    .show-brew-overlay  &{
        
        opacity: 1;
        padding-top: px-to-em($site-header-height);
        transition: opacity $transition-overlay-timing $transition-ease $transition-timing,
                    padding-top $transition-overlay-timing $transition-ease $transition-timing;
    }
}


.show-brew-overlay {

    .panel {
        opacity: 0.2;
    }

    .site-header {
        transform: translateY(-100%);
    }

    .spacer-bars--horizontal,
    .spacer-bars--vertical {
        &:before,
        &:after {
            transform: translate(0);
        }
    }
}

.brew-name {
    margin-bottom: $section-spacing-small;
}

.brew-taste,
.brew-qualities,
.brew-description {
    @include font-copy();
    margin-bottom: $section-spacing-small;
}

.brew-details {
    @include clearfix;

    margin: px-to-em($section-spacing-px, $font-size-copy) 0;
}

.brew-description {
    max-width: px-to-em(700px);
}

.brew-glass{
    float: left;
    width: px-to-em($brew-logo-width);
}

.brew-qualities {
    margin-left: px-to-em( $brew-logo-width + $section-spacing-px, $font-size-copy);
    overflow: hidden;
    display: block;
}

.brew-qualities-label {
    width: px-to-em(180px, $font-size-copy);
    float: left;
    clear: left;

    &:after {
        content: ':';
    }
}

.brew-qualities-info {
    display: table
}

.brew-svg {
    width: 100%;
    display: block;
    margin-top: 0.1em;
}

.brew-disclaimer {
    @extend %uc;
}

.brew-share {
    display: block;
    margin: $section-spacing * 1.2 0;
}

.brew-close {
    $circle-size: 36px;
    
    position: absolute;
    
    right: $site-padding * 1.25;
    top: $site-padding * 1.25;
    
    width: px-to-em($circle-size);
    height: px-to-em($circle-size);
    border: 2px solid $color-brand-white;
    border-radius: 100%;

    &:before,
    &:after {
        $bar-height: px-to-em(2px);

        content: '';
        background-color:$color-brand-white;
        width: $circle-size * 0.5;
        height: $bar-height;
        position: absolute;
        top: 46%;
        left: 23%;
        
    }

    &:before {
        transform: rotate(45deg) ;
    }

    &:after {
        transform: rotate(-45deg) ;
    }
}

.brew-img {
    @include absolute-full();
    @include bg-cover;

    z-index: -1;
}

.spacer-bars {
    &:before,
    &:after {

        content: '';
        position: absolute;
        background-color: $color-brand-white;
        z-index: $zindex-brew;
        transition: transform $transition-overlay-timing/2 $transition-ease;
    }
}

.spacer-bars--vertical {

    &:before,
    &:after {
        width: $site-padding/2;
        top: 0;
        bottom: 0;
        left: 0;
        transform: translateX(-100%);
    }

    &:after {
        left: auto;
        right: 0;
        transform: translateX(100%);
    }
}

.spacer-bars--horizontal {

    &:before,
    &:after {
        height: $site-padding/2;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(-100%);
    }

    &:after {
        top: auto;
        bottom: 0;
        transform: translateY(100%);
    }
}

@include screen($bp-mobile) {

    .brew-close {
        $circle-size: 30px;
        
        position: absolute;
        
        right: $site-padding-mobile * 1.25;
        top: $site-padding-mobile * 1.25;
        
        width: px-to-em($circle-size);
        height: px-to-em($circle-size);

        &:before,
        &:after {
            $bar-height: px-to-em(2px);
            
            width: $circle-size * 0.5;
            
        }
    }


    .spacer-bars--vertical {

        &:before,
        &:after {
            width: $site-padding-mobile/2;
        }
    }

    .spacer-bars--horizontal {

        &:before,
        &:after {
            height: $site-padding-mobile/2;
        }
    }


    .brew {
        padding: $site-padding-mobile $site-padding-mobile*1.25  $site-padding-mobile*1.25 ;
    }

    .brew-body {

        .show-brew-overlay  &{
        
        
            padding-top: px-to-em($site-header-height-mobile);
        }
    }

    .brew-glass {
        width: px-to-em(40px);
    }

    .brew-qualities { 
        margin-left: px-to-em(52px);

    }

    .brew-qualities-label { 
        width: px-to-em(145px);
        
    }

    .brew-qualities-info {
        margin-bottom: $element-spacing-small/2;   
    }

    .brew-share {
        text-align: left;
        max-width: px-to-em(250px);

        &:after {
            @include center(vertical);
        }
    }
}
