.modal-overlay {
    @include absolute-full();

    z-index: $zindex-modal-overlay;
    background-color: $color-opaque-black;
    overflow: hidden;
    padding: (px-to-em($site-header-height) + $site-padding)  $site-padding $site-padding * 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity  $transition-overlay-timing $transition-ease,
                visibility  $transition-overlay-timing $transition-ease $transition-overlay-timing*2;

    .show-modal-overlay  & {
        opacity: 1;
        visibility: visible;
        transition: opacity $transition-overlay-timing $transition-ease;
    }
}

.modal-overlay-content {
    height: 100%;
    overflow-y: auto;
    overflow: relative;

    html.touch {
        -webkit-overflow-scrolling: touch;
    }

}

@include screen($bp-tablet) {
    
}

@include screen($bp-mobile) {

    .modal-overlay {
        padding: (px-to-em($site-header-height-mobile) + $site-padding) $site-padding-mobile  $site-padding*2 ;
    }

    .modal-overlay-content {
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
    }
}