
$z-index-img: 1;
$z-index-bar: 5;

$address-width: 300px;

.panel {
    position: relative;
    height: 100%;
    //overflow: hidden;
    transform: translateY(0);

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: $z-index-bar - 1;
        height: px-to-em(225px);
        background-repeat: repeat-x;
        background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0));        
    }   
}


.panel-bar {
    position: absolute;
    left: $site-padding;
    right: $site-padding;
    bottom: $site-padding;
    z-index: $zindex-modal-overlay + 5;
    padding-right: px-to-em($address-width);

    .show-logo-overlay & {
        opacity: 0.5;
        animation: animate-content .5s ease-in 1s forwards; 
    }

    .show-logo-overlay-inverse  & {
        opacity: 0.5;
        animation: animate-content-inverse .5s ease-in 1.2s forwards; 
    }
}

@keyframes animate-content {
    0% {
        transform: translateY(120%);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animate-content-inverse {
    0% {
        transform: translateY(-120%);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.panel-bg {
    @include absolute-full;
    @include bg-cover();
    
    z-index: $z-index-img;
}

.panel-header-title {
    @extend %uc;
    
    @include font-heading();

    max-width: px-to-em(850px,$font-size-heading);
}

.panel-header-subtitle,
.panel-header-copy {
    @include font-subheading();

    margin: px-to-em(8px, $font-size-subheading) 0 0;

    max-width: px-to-em(850px,$font-size-subheading);
}

.panel-header-copy {
    line-height: 1.25;
}

.panel-header-copy {
    a {
        
        position: relative;
        display: inline-block;
        font-weight: $font-weight-bold;
        border-bottom: 2px solid $color-brand-white;

        &:before {
            @include transition(top);

            position: absolute;
            top: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            content: '';
            display: block;
            top: 100%;
            background-color: $color-brand-white;
            z-index: -1;
        }

        &:hover {
            &:before {
                top: 0;
            }
            color: $color-brand-black;
        }
    }
}


.panel-cta {
    margin-top: $section-spacing;
}

.alulu-address {
    position: absolute;
    bottom: 0;
    font-weight: $font-weight-light;
    line-height: 1.4;
    right: $site-padding / -2;
    max-width: px-to-em($address-width);
    text-align: right;
}

.panel-header,
.panel-header-subtitle,
.panel-header-copy,
.alulu-address {
    @include transition(opacity);
    height: auto;

    transition-duration: $transition-overlay-timing;
}

.panel {
    &.show-modal-overlay {

        .panel-header,
        .panel-header-subtitle,
        .panel-header-copy,
        .alulu-address {
            opacity: 0;
            visibility: hidden;
            height: 0px;
            transition: opacity $transition-timing $transition-ease, 
                        height $transition-timing $transition-ease 5s;
                        
        }

        .btn-call-to-action {
            

            &:before {
                content: '—';
                font-size: px-to-em(22.5px);
                
            }
        }
    }
}

@include screen($bp-tablet) {
}

@include screen($bp-mobile) {

    .panel-bar {
        left: $site-padding-mobile;
        right: $site-padding-mobile;
        bottom: $site-padding-mobile;
    }

    .alulu-address {
        right: 0;
    }
}

@include screen($bp-mobile-landscape) {
    .panel-bar {   
        padding-right: 0;
    }

    .alulu-address {
        position: relative;
        top: auto;
        right: auto;
        transform: translateY(0);
        margin-top: $section-spacing-large-mobile;

    }

    .panel {
        &.show-modal-overlay {

            .btn-call-to-action {
                transform: translateY(100%);
            }
        }
    }
}