
$z-index-img: 1;
$z-index-bar: 5;

$address-width: 300px;

.panel {
    position: relative;
    height: 100%;
    //overflow: hidden;
    transform: translateY(0);

    &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: $z-index-bar - 1;
        height: px-to-em(225px);
        background-repeat: repeat-x;
        background-image: linear-gradient(0deg, rgba(0,0,0,0.5) 30%, rgba(0,0,0,0));        
    }   
}


.panel-bar {
    position: absolute;
    left: $site-padding;
    right: $site-padding;
    bottom: $site-padding;
    z-index: $zindex-modal-overlay + 5;
    padding-right: px-to-em($address-width);

    .show-logo-overlay & {
        opacity: 0.5;
        animation: animate-content .5s ease-in 1s forwards; 
    }

    .show-logo-overlay-inverse  & {
        opacity: 0.5;
        animation: animate-content-inverse .5s ease-in 1.2s forwards; 
    }
}

@keyframes animate-content {
    0% {
        transform: translateY(120%);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animate-content-inverse {
    0% {
        transform: translateY(-120%);
        opacity: 0.5;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.panel-bg {
    @include absolute-full;
    @include bg-cover();
    
    z-index: $z-index-img;
}

.panel-header-title {
    @extend %uc;
    
    @include font-heading();

    max-width: px-to-em(850px,$font-size-heading)
}

.panel-header-subtitle,
.panel-header-copy {
    @include font-subheading();

    margin: px-to-em(8px, $font-size-subheading) 0;

    max-width: px-to-em(850px,$font-size-subheading);
}

.panel-header-copy {
    line-height: 1.45;
}

.panel-header-copy {
    a {
        text-decoration: underline;
        font-weight: $font-weight-bold;
    }
}


.panel-cta {
    margin-top: $element-spacing-small;
}

.alulu-address {
    position: absolute;
    bottom: 0;
    font-weight: $font-weight-light;
    line-height: 1.4;
    right: $site-padding / -2;
    max-width: px-to-em($address-width);
}

.panel-header-title,
.panel-header-subtitle,
.panel-header-copy,
.alulu-address {
    @include transition(opacity);

    transition-duration: $transition-overlay-timing;
}

.panel {
    &.show-modal-overlay {

        .panel-header-title,
        .panel-header-subtitle,
        .panel-header-copy,
        .alulu-address {
            opacity: 0;
            visibility: hidden;

            transition: opacity $transition-timing $transition-ease,
                        visibility $transition-timing $transition-ease;
        }

        .btn-call-to-action {
            &:before {
                content: '—';
                line-height: 0.5;
            }
        }
    }
}

@include screen($bp-tablet) {
}

@include screen($bp-mobile) {

    .panel-bar {
        left: $site-padding-mobile;
        right: $site-padding-mobile;
        bottom: $site-padding-mobile;
    }
}

@include screen($bp-mobile-landscape) {
    .panel-bar {   
        padding-right: 0;
    }

    .alulu-address {
        position: relative;
        top: auto;
        right: auto;
        transform: translateY(0);
        margin-top: $section-spacing-large-mobile;

    }
}