.site-header {
    @include transition(transform);
    
    position: absolute;
    z-index: $zindex-site-header;
    top: 0;
    left: 0;
    right: 0;
    padding: $site-padding $site-padding  0;


    .menu-toggle {
        position: absolute;
        right: $site-padding; 
        top: $site-padding;
    }
}

.site-logo {
    display: inline-block;
    width: px-to-em(300px);
    position: relative;
}

.site-logo-img {
    display: block;
    width: 100%;
}

.site-logo-tagline {
    @extend %uc;
    margin-top: 1em;
    font-size: px-to-em(14px);
    display: inline-block;
    font-weight: $font-weight-bold;
}

@include screen($bp-tablet) {
    .site-logo {
        width: px-to-em(250px);
    }
}

@include screen($bp-mobile) {

    .site-header {
        padding: $site-padding-mobile $site-padding-mobile 0;

        .menu-toggle {
            right: $site-padding-mobile; 
            top: $site-padding-mobile;
        }
    }

    .site-logo {
        width: px-to-em(170px);
    }
}