<script type="text/x-tmpl" id="tmpl-brew">
	<h2 class="brew-name js-name">{%=o.title%}</h2>
	<div class="brew-taste js-taste">{%=o.taste%}</div>
	
	<div class="brew-details">
		<div class="brew-glass">
			<img class="brew-svg" src="./public/images/beer-glass-white.svg">
		</div>

		<dl class="brew-qualities js-qualities">
		{% for (var i=0; i<o.qualities.length; i++) { %}

			<dt class="brew-qualities-label">{%=o.qualities[i].label%}</dt>
			<dd class="brew-qualities-info">{%=o.qualities[i].info%}</dd>
		{% } %}
		</dl>
	</div>


	<strong class="brew-disclaimer">AVAILABLE WHILE SUPPLIES LAST</strong>

	<button class="btn-call-to-action brew-share js-share">SHARE THIS BEER ON FACEBOOK, TWITTER ETC</button>

	<div class="brew-description js-description">
		{%#o.description%}
	</div>
</script>