<script type="text/javascript">
	var initialJsonData =  {
		"jaunt-rotation": {
			"url":"jaunt-rotation",
			"title": "Jaunt Rotation",
			"tallGlass": true,
			"taste": "a tetrology of bursts",
			"imgUrl": "./public/images/brew-jaunt-rotation.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"SESSION IPA"
				},
				{
					"label": "ABV",
					"info":  "5.20%"
				},
				{
					"label": "IBU",
					"info": "55"
				}
			],
			"description": "Refreshing, with juicy hops that swarm the slight sweet malt"
		},
		"epishelf-bridge": {
			"url": "epishelf-bridge",
			"tallGlass": true,
			"title": "Epishelf Bridge",
			"taste": "sprouting the brights",
			"imgUrl": "./public/images/brew-epishelf-bridge.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BLONDE ALE"
				},
				{
					"label": "ABV",
					"info":  "5.40%"
				},
				{
					"label": "IBU",
					"info": "22"
				}
			],
			"description": "Light and bright, this golden ale is crisp with a delicate nose"
		},
		"westerly-apex": {
			"tallGlass": true,
			"url":"westerly-apex",
			"title": "Westerly Apex",
			"taste": "aged in the Humulus sun",
			"imgUrl": "./public/images/brew-westerly-apex.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"APA"
				},
				{
					"label": "ABV",
					"info":  "5.80%"
				},
				{
					"label": "IBU",
					"info": "39"
				}
			],
			"description": "Earthy praire grass ﬁnishes with a hint of stardust"
		},
		"crystal-keep": {
			"tallGlass": true,
			"url":"crystal-keep",
			"title": "Crystal Keep",
			"taste": "of the Choco Rings",
			"imgUrl": "./public/images/brew-crystal-keep.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BROWN ALE"
				},
				{
					"label": "ABV",
					"info":  "6.40%"
				},
				{
					"label": "IBU",
					"info": "27"
				}
			],
			"description": "An English chocolate biscuit, this beer is bready and balanced with a hint of malt, ﬁnishes dry"
		},
		"halcyon-equinox": {
			"url":"halcyon-equinox",
			"title": "Halcyon Equinox",
			"taste": "golden days of ﬂuﬀy lace",
			"imgUrl": "./public/images/brew-halcyon-equinox.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BELGIAN SAISON"
				},
				{
					"label": "ABV",
					"info":  "6.80%"
				},
				{
					"label": "IBU",
					"info": "28"
				}
			],
			"description": "Bright citrus esters and earthy herbal hops, with a burst of spiciness, sparkling gold with thick frothy white lace"
		},
		"rue-envoy": {
			"url":"rue-envoy",
			"title": "Rue Envoy",
			"taste": "drowning in the virulent sea",
			"imgUrl": "./public/images/brew-rue-envoy.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"IPA"
				},
				{
					"label": "ABV",
					"info":  "7.50%"
				},
				{
					"label": "IBU",
					"info": "72"
				}
			],
			"description": "Juicy fruit, hopped up with Mosaic, this beer bursts with ﬂoral and citrus notes"
		},
		"crest-rubies": {
			"url":"crest-rubies",
			"title": "Crest Rubies",
			"taste": "from the Noble Lake of Prosperity",
			"imgUrl": "./public/images/brew-crest-rubies.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"AMBER ALE"
				},
				{
					"label": "ABV",
					"info":  "7.30%"
				},
				{
					"label": "IBU",
					"info": "27"
				}
			],
			"description": "Sweet malty ale, balanced by crisp noble hops, and a hint of warmth and hidden high gravity"
		},
		"provender-cave": {
			"url":"provender-cave",
			"title": "Provender Cave",
			"taste": "of sorcerous mud and burnt ﬁelds",
			"imgUrl": "./public/images/brew-provender-cave.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"COFFEE STOUT (DRY)"
				},
				{
					"label": "ABV",
					"info":  "7.50%"
				},
				{
					"label": "IBU",
					"info": "68"
				}
			],
			"description": "Sweet espresso nose, with bittersweet dark chocolate taste and ﬁnishes with a robust roasted ﬂavor"
		},
		"libra-aura": {
			"url":"libra-aura",
			"title": "Libra Aura",
			"taste": "drank on Mezmerzen Day",
			"imgUrl": "./public/images/brew-libra-aura.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BELGIAN IPA"
				},
				{
					"label": "ABV",
					"info":  "7.35%"
				},
				{
					"label": "IBU",
					"info": "54"
				}
			],
			"description": "Delicate esters and lemon citrus aromas envelop this balanced Belgian, ﬁnishes refreshing"
		},
		"windward-aglow": {
			"url":"windward-aglow",
			"title": "Windward Aglow",
			"taste": "breezy spice of stalk",
			"imgUrl": "./public/images/brew-windward-aglow.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BELGIAN WIT"
				},
				{
					"label": "ABV",
					"info":  "6.43%"
				},
				{
					"label": "IBU",
					"info": "14"
				}
			],
			"description": "Bright pink grapefruit nose with creamy, wheat mouthfeel. Hints of spice and ginger notes tantalize tastebuds"
		},
		"champion-fluffy": {
			"url":"champion-fluffy",
			"title": "Champion Fluffy",
			"taste": "scratching the fractal fjord",
			"imgUrl": "./public/images/brew-champion-fluffy.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BELGIAN TRIPEL"
				},
				{
					"label": "ABV",
					"info":  "8.90%"
				},
				{
					"label": "IBU",
					"info": "29"
				}
			],
			"description": "High gravity sweet malt forwardness, complex fruit esters of banana, clove and spice. Wide range of depth in aroma, full mouthfeel with thick ﬂuﬀy white head"
		}
	};
</script>