<script type="text/javascript">
	var initialJsonData =  {
		"marshmallow-winter":{
			"url": "Marshmallow-Winter",
			"title": "Marshmallow Winter",
			"taste": "Very dry, chocolate and roasted malts prevail.",
			"imgUrl": "./public/images/brew-champion-fluffy.jpg",
			"qualities": [
				{
					"label": "Original Gravity",
					"info": "1.044"
				},
				{
					"label": "Alcohol by Volume",
					"info": "4.40%"
				},
				{
					"label": "Color",
					"info": "Dark brown/black"
				},
				{
					"label": "Bitterness",
					"info": "Medium"
				}
			],
			"description": "TK The warriors of the data mines of the Martalino system perfected this ale over a millenium and drank it for vitality and to heal electric wounds from the \"process\" 'wolves' of the desolate valley.<ul><li>sdcsd</li><li>sdcsd</li></ul>"
		},
		"jaunt-rotation": {
			"url":"jaunt-rotation",
			"title": "Jaunt Rotation",
			"taste": "a tetrology of bursts",
			"imgUrl": "./public/images/brew-jaunt-rotation.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"SESSION IPA"
				},
				{
					"label": "ABV",
					"info":  "5.20%"
				},
				{
					"label": "IBU",
					"info": "55"
				}
			],
			"description": "Refreshing, with juicy hops that swarm the slight sweet malt"
		},
		"epishelf-bridge": {
			"url": "epishelf-bridge",
			"title": "Epishelf Bridge",
			"taste": "sprouting the brights",
			"imgUrl": "./public/images/brew-epishelf-bridge.jpg",
			"qualities": [
				{
					"label": "style",
					"info":"BLONDE ALE"
				},
				{
					"label": "ABV",
					"info":  "5.40%"
				},
				{
					"label": "IBU",
					"info": "22"
				}
			],
			"description": "Light and bright, this golden ale is crisp with a delicate nose"
		}
	};
</script>