<script type="text/javascript">
	var initialJsonData =  {
		"marshmallow-winter": {
			"url": "Marshmallow-Winter",
			"title": "Marshmallow Winter",
			"taste": "Very dry, chocolate and roasted malts prevail.",
			"qualities": [
				{
					"label": "Original Gravity",
					"info": "1.044"
				},
				{
					"label": "Alcohol by Volume",
					"info": "4.40%"
				},
				{
					"label": "Color",
					"info": "Dark brown/black"
				},
				{
					"label": "Bitterness",
					"info": "Medium"
				}
			],
			"description": "TK The warriors of the data mines of the Martalino system perfected this ale over a millenium and drank it for vitality and to heal electric wounds from the \"process\" 'wolves' of the desolate valley.<ul><li>sdcsd</li><li>sdcsd</li></ul>"
		}
	};
</script>