


{{> modules/site-header}}
{{> modules/site-nav site-nav}}

<main id="homepage" role="main" class="main-content">

	<div id="fullpage">


		<div class="section" id="section1">
      <img class="hero-bg js-bg" src="https://b922bde52f23a8481830-83cb7d8d544f653b52d1a1621f05ea9d.ssl.cf3.rackcdn.com/images/_1920x1296_crop_center-center/Rainbbow-mountains-desktop.jpg">
      <div class="slide-content">
        <div class="slide-header">
          <h1>Our Beers</h1>  
          <p>intro-copy</p>
        </div>
      </div>
    </div>

    <div class="section" id="section2">
      <img class="hero-bg js-bg" src="https://b922bde52f23a8481830-83cb7d8d544f653b52d1a1621f05ea9d.ssl.cf3.rackcdn.com/images/_1920x1296_crop_center-center/Quinta-da-Regaleira-Desktop-4.jpg">

      <div class="slide-content">
        <div class="slide-header">
          <h1>Craft Cocktails</h1>  
          <p>intro-copy</p>
        </div>
      </div>
    </div>

     <div class="section" id="section3">
      <img class="hero-bg js-bg" src="https://b922bde52f23a8481830-83cb7d8d544f653b52d1a1621f05ea9d.ssl.cf3.rackcdn.com/images/_1920x1296_crop_center-center/Glittering-Glow-Worms-Desktop.jpg">

      <div class="slide-content">
        <div class="section-header">
          
          <h1>Contact & Location</h1>  
          <p>intro-copy</p>
        </div>
      </div>
      
    </div>


    <div class="section" id="section4">
      <img class="hero-bg js-bg" src="https://b922bde52f23a8481830-83cb7d8d544f653b52d1a1621f05ea9d.ssl.cf3.rackcdn.com/images/_1920x1296_crop_center-center/Mostar-Bridge-dive-Desktop-v2.jpg">
      <div class="slide-content">
        <div class="slide-header">
          <h1>Private Events</h1>  
          <p>intro-copy</p>
        </div>
      </div>
    </div>

    <div class="section" id="section5">
      <img class="hero-bg js-bg" src="https://b922bde52f23a8481830-83cb7d8d544f653b52d1a1621f05ea9d.ssl.cf3.rackcdn.com/images/_1920x1296_crop_center-center/Quinta-da-Regaleira-Desktop-4.jpg">

      <div class="slide-content">
        <div class="slide-header">
          <h1>Events</h1>  
          <p>intro-copy</p>
        </div>
      </div>

    </div>


  </div>
     
	

</main>



  



    

    



  <div class="logo-piece-cover">
      <img class="logo-piece-cover-section-bg" src="">
      <img class="logo-piece-cover-logo" src="https://d13yacurqjgara.cloudfront.net/assets/logo-small-2x-9fe74d2ad7b25fba0f50168523c15fda4c35534f9ea0b1011179275383035439.png">
  </div>