{{> modules/site-header}}
{{> modules/site-nav site-nav}}

<main id="homepage" role="main" class="main-content">

    <div id="fullpage">

    	{{> modules/panel-home }}

    	{{> modules/panel-beer homepage.panel-beer}}

        {{> modules/panel-food homepage.panel-food}}

        {{> modules/panel-cocktails}}

        {{> modules/panel-contact-location}}

        {{> modules/panel-private-events}}

        {{> modules/panel-events}}


    </div>

</main>

{{> modules/brew}}

{{> components/logo-overlay}}

{{> components/brew-json}}

<div class="spacer-bars spacer-bars--vertical"></div>
<div class="spacer-bars spacer-bars--horizontal"></div>