$bars-height: px-to-em(3px);
$bars-width: px-to-em(44px);
$bars-spacing: px-to-em(8px);

.menu-toggle {
	height: px-to-em(55px);
	width: $bars-width;
}

.menu-toggle-bars {
	
	@include transition(background-color);
	display: block;
	width: 100%;
	height: $bars-height;
	background-color: $color-brand-white;
	position: relative;
	transition-delay: $transition-timing;


	&:before,
	&:after {
		content: '';
		display: block;

		background-color:$color-brand-white;
		height: 100%;
		width: 100%;

		position: absolute;
		bottom: 100%;
		transform: translateZ(0);
	}


	&:before {

		top: $bars-spacing * -1  - $bars-height;
		transition: top $transition-timing $transition-ease $transition-timing,
					transform $transition-timing $transition-ease;

	}

	&:after {
		bottom: $bars-spacing * -1 - $bars-height;

		transition: bottom $transition-timing $transition-ease $transition-timing,
					transform $transition-timing $transition-ease;
	}



	.show-site-menu & {
		
		transition-delay: 0;
		background-color: transparent;

		&:before {
			top: 0;
			transform: rotate(45deg);
			transition: top $transition-timing $transition-ease ,
						transform $transition-timing $transition-ease $transition-timing;

		}

		&:after {
			bottom: 0;
			transform: rotate(-45deg);
			transition: bottom $transition-timing $transition-ease ,
						transform $transition-timing $transition-ease $transition-timing;
		}
	}
}



@include screen($bp-tablet) {
    .menu-toggle {
    	height: px-to-em(40px);
    }
}



@include screen($bp-mobile) {
	$bars-width: px-to-em(40px);

	.menu-toggle {
		height: px-to-em(32px);
		width: $bars-width;
	}

	.mobile-toggle-bars {
		background-color: $color-brand-white;
		
		&:before,
		&:after {
			background-color: $color-brand-white;
		}
	}
}

