<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Alulu Brewpup - Craft Beers and chef-driven menu in the heart of Pilsen, Chicago</title>
<meta name="description" content="">

<meta property="og:url" content="http://www.alulubrew.com/" />
<meta property="og:type" content="website" />
<meta property="og:title" content="Alulu Brewpup" />
<meta property="og:description" content="Alulu Brewpup offers exclusive small batch craft beer made in-house in our second floor brewery and only available at our brewpub."/>
<meta property="og:image" content="http://www.alulubrew.com/public/images/logo.jpg"/>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@alulubrew">
<meta name="twitter:title" content="Alulu Brewpup">
<meta name="twitter:description" content="Alulu Brewpup offers exclusive small batch craft beer made in-house in our second floor brewery and only available at our brewpub.">
<meta name="twitter:image" content="http://www.alulubrew.com/public/images/logo.jpg">