///////////////////////////////////////////////////////////////////////////////
//
//  Fonts
//
///////////////////////////////////////////////////////////////////////////////

$font-size-base: 16px;
$font-size-copy: 18px;
$font-size-copy-mobile: 16px;

$base-line-height: 1.2;


///////////////////////////////////////////////////////////////////////////////
//
//  File Paths
//
///////////////////////////////////////////////////////////////////////////////

$file-path-images: '/../../../../images/';
$file-path-fonts: '/../../../../fonts/';



///////////////////////////////////////////////////////////////////////////////
//
//  Vertical Rhythm
//
///////////////////////////////////////////////////////////////////////////////

$element-spacing-px:  30px;
$element-spacing-small-px: 10px;


$section-spacing-small-px: 5px;
$section-spacing-px: 20px;
$section-spacing-large-px: 50px;


$section-spacing-large-mobile-px: 30px;


///////////////////////////////////////////////////////////////////////////////
//
//  Structure
//
///////////////////////////////////////////////////////////////////////////////

$site-max-width: 1168px; 


$site-padding: 40px;
$site-padding-px: $site-padding;

$site-padding-mobile: 20px;
$site-padding-mobile-px: $site-padding-mobile;

$site-header-height: 100px;
$site-header-height-mobile: 55px;

///////////////////////////////////////////////////////////////////////////////
//
//  Component/Module Variables
//
///////////////////////////////////////////////////////////////////////////////

$base-border-width: 2px;
$border-radius: 20px;


///////////////////////////////////////////////////////////////////////////////
//
//  Animations
//
///////////////////////////////////////////////////////////////////////////////

$easeInOutQuint:                    cubic-bezier(0.86, 0, 0.07, 1);
$easeInOutCirc:                     cubic-bezier(0.785, 0.135, 0.15, 0.86);




$transition-timing: .35s;
$transition-ease: $easeInOutCirc;


$transition-default:            color $transition-timing $transition-ease,
                                border-color $transition-timing $transition-ease,
                                opacity $transition-timing $transition-ease,
                                background-color $transition-timing $transition-ease,
                                padding $transition-timing $transition-ease;



$transition-logo-overlay: 1.5s;

$transition-overlay-timing: 1.3s;



///////////////////////////////////////////////////////////////////////////////
//
//  ZINDEX
//
///////////////////////////////////////////////////////////////////////////////


$zindex-brew:                   1000;


$zindex-site-header:  			500;
$zindex-site-nav:  				$zindex-site-header - 5;

$zindex-logo-overlay:           1000;
$zindex-brew: 		$zindex-site-header + 5;

$zindex-modal-overlay: 20;